.about p {
	font-size: 1.5em;
	line-height: 1.7em;
	margin: 0;
	padding-bottom: 1em;
	text-align: center;
}

.about .places {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.imgDiv {
  width:33%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.delta {
  width: auto;
  height: 100px;
}

.phaseone {
  width: auto;
  height: 50px;
}

.bell {
  width: auto;
  height: 100px;
}

.about .small {
	font-size: 1em!important;
    letter-spacing: .25em!important;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.card {
  text-align: center;
  padding: 40px;
  width: 30%;
  color:white!important;
  background: rgb(30,87,153);
  background: -moz-linear-gradient(45deg, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%);
  background: linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
}

.card .title i {
  font-size: 50px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: #c5dff7;
}

.card .title h4 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2)
}

.card .dash {
  border-color: white;
}

.card .description p {
  font-size: 1.25em;
  margin: .75em auto;
}

.card .description a {
  color: orange;
  text-decoration: none;
}

.card .description a:hover {
  color: orange;
  text-decoration: underline;
}
@media (max-width: 991px) {
  .about .places {
  	flex-direction: column;
  }
  .about .places img {
  	margin-bottom: 60px;
  }
  .bell {
  	margin-bottom: 20px!important;
  }
}
@media (max-width: 1199px) {
  .cards {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .card {
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
  }
}