* {
  text-align: center;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  line-height: 0;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3{
  font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  line-height: 1.1;
  font-weight: 300;
}

h3 {
  color: #7c8184;
  font-size: 2em;
  letter-spacing: 8px;
}

h4 {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1.1;
  font-weight: 400;
}

h5 {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1.1;
  font-weight: 300;
  margin-bottom: 1em;
  font-size: 1.7em;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.dash {
  width: 5%;
  height: 1px;
  border-bottom: 1px solid  lightgray;
  margin: 2em auto;
}

.container {
    padding: 5em 0;
}

.app {
  width: 100%;
}

.navBar {
  position: absolute;
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
}

.navBar li {
  margin-left: 10px;
  display: inline-block;
  padding: 0 1em;
  font-size: 1.4em;
  letter-spacing: .04em;
  line-height: 1.7em;
  font-weight: 400;
  font-family: Open Sans,sans-serif;
}

.navBar li a {
  color: grey;
  text-decoration:  none;
}

.navBar li a:hover {
  color: black;
}

.navBar li img {
  border-radius: 50%;
  height: 125px;
  border: 2px solid black;
}