.footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 0.5em 0 1.5em;
  background: rgb(30,87,153);
  background: -moz-linear-gradient(45deg, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%);
  background: linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
  border-radius: 0 0 4px 4px
}

.footer h3 {
  color: lightgrey;
}

.footer ul {
	list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer li{
	display: inline;
  margin: 10px;
}

.footer .icon {
  font-size:40px!important;
  color: white!important;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 0;
  position: absolute!important;
}

.footer .ion-social-github:hover {
  color: #7dbbe6!important;
}

.footer .ion-social-linkedin:hover {
  color: #007bb6!important;
}

.footer .ion-email:hover {
  color: lightgray!important;
}

.footer p {
  color: white;
  margin-bottom: 2px;
  letter-spacing: 1px;
  line-height: 20px
}

.footer .iconSpan {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: top;
  text-align:center;
  color: red;
}

@keyframes beatHeart {
  0% {
    font-size: 14px;
  }
  20% {
    font-size: 16px;
  }
  30% {
    font-size: 14px;
    opacity: 100%;
  }
  50% {
    font-size: 16px;
  }
  60% {
    font-size: 14px;
  }
  100% {
    font-size: 14px;
  }
}

.footer .ion-heart {
  animation: 1.5s infinite beatHeart;
}

