.whativedone {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #363636;
  color: #9c9c9c;
}

.whativedone * {
  text-align: left!important;
}

.whativedone h3 {
  color: #9c9c9c;
  text-align: center!important;
} 

.whativedone p {
  color: #9c9c9c;
  padding-left: 15%;
  padding-right: 15%;
}

.whativedone .col-4 {
  padding: 0;
}

.whativedone .row {
  margin-bottom: 1em;
  margin-top: 2em;
}

.whativedone .fa {
  color: #428bca;
}

.whativedone .fa:hover {
  color: #2a6496;
}

.skills {
  padding: 20px 20px;
  background-color: rgb(58, 58, 58);
  margin-bottom: 0;
}

.skillList .row {
  margin: 0;
}

.skillList .col-3 {
  padding-left: 0;
}

.whativedone .skillList {
  padding: 20px 20px 0;
  background-color: rgb(53, 53, 53);
}

.whativedone .progress {
  margin-top: 0.55em;
}

.whativedone .skill {
  list-style-type: none;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #727272;
}

.whativedone .progress-bar {
  background-color: #428bca;
}

.whativedone .dash {
  border-color: #9c9c9c;
  margin-bottom: 3em;
}

@media screen and (max-width: 800px) {
  .whativedone .row {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 1em;
  }

  .whativedone .col-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .whativedone h5 {
    letter-spacing: 0.8px;
  }

  .whativedone p {
    padding-left: 5%;
    padding-right: 5%;
  }

  .whativedone .col-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .whativedone .skills {
    text-align: center!important;
    background-color: inherit;
    padding: 30px 20px 10px;
  }

  .whativedone .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .whativedone .skillList .row {
    flex-direction: row;
  }

  .whativedone .dash {
    margin-bottom: 0;
  }
}